<div class="row">
  <div class="col-md-6">
    <%= render_movie_image_present(@movie) %>
  </div>
  <div class="col-md-6">
    <h2> <%= @movie.title %></h2>
    <div style="height:200px;">
      <p>
        <%= @movie.description %>
      </p>
    </div>
    <div class="pull-right">
      <%= link_to("特惠选座", movie_shows_path(@movie), class:"btn btn-lg btn-danger") %>
    </div>
  </div>
</div>
